#rockButton {
    border-color: white;
    background: white;
  }
  
  #paperButton {
    border-color: white;
    background: white;
  }
  
  #scissorsButton {
    border-color: white;
    background: white;
  }
  